.cont-table{
    background-color: white;
    padding: 1%;
    overflow-x: auto;
    .fa{
      cursor: pointer;
    }
}
.cont-search{
  width: 25%;
  input{
    width: 100%;
  }
}
.header-table{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1%;
    align-items: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    thead {
        background-color: var(--color-gray-dark);
        border-bottom: 2px solid var(--color-gray-dark-light);
        .fa-info-circle {
          color: var(--color-info-gray);
          font-size: 17px;
        }
        th {
          font-weight: 600;
        }
    }
    th, td {
      padding: 1rem;
      text-align: left;
    }
    tbody {
        tr{
            border-bottom: 2px solid var(--color-gray-dark-light);
        }
        td{
          img {
            max-width: 50px;
          }
        }
    }
}
  
  h2 {
    text-align: center;
  }

  .cont-select{
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
    span{
        font-weight: 600;
    }
  }
