<div  class="container-skeleton">
    <div class="container-skeleton__header"> 
        <div class="container-skeleton__header-search">
            <ngx-skeleton-loader
                count="1"
                [theme]="{
                'border-radius': '5px',
                height: '38px',
                width:'52.5%',
                'animation-duration': '2s'
                }"
            >
            </ngx-skeleton-loader>
        </div>
        <div class="container-skeleton__header-btn">
            <ngx-skeleton-loader
                count="1"
                [theme]="{
                'border-radius': '5px',
                width:'110px',
                height: '50px',
                'animation-duration': '2s'
                }"
            >
            </ngx-skeleton-loader>
        </div>
        
    </div>
    <ngx-skeleton-loader
        count="3"
        [theme]="{
        'border-radius': '5px',
        height: '70px',
        'margin-bottom': '5px',
        'animation-duration': '2s'
        }"
    >
    </ngx-skeleton-loader>
    <div class="container-skeleton__header">
        <div class="container-skeleton__header-search">
            <ngx-skeleton-loader
                count="1"
                [theme]="{
                'border-radius': '5px',
                height: '38px',
                width:'30%',
                'animation-duration': '2s'
                }"
            >
            </ngx-skeleton-loader>
        </div>
        <div class="container-skeleton__header-btn">
            <ngx-skeleton-loader
                count="1"
                [theme]="{
                'border-radius': '5px',
                width:'80px',
                height: '45px',
                'animation-duration': '2s'
                }"
            >
            </ngx-skeleton-loader>
        </div>
        
    </div>
  </div>
