
<app-toast></app-toast>
<form class="form-data" *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
    <div class="form-data__row">
        <div class="form-data__row-col">
            <label for="id">ID:</label>
            <input [ngClass]="{'error': form.get('id')?.touched && form.get('id')?.errors}" 
            id="id" formControlName="id">
            <div class="form-data__row-col-errors" *ngIf="form.get('id')?.invalid && form.get('id')?.touched">
              <span *ngIf="form.get('id')?.errors?.['required']" style="color: red;">ID no válido</span>
              <span *ngIf="form.get('id')?.errors?.['minlength']" style="color: red;">ID debe tener al menos 3 caracteres</span>
              <span *ngIf="form.get('id')?.errors?.['maxlength']" style="color: red;">ID no puede tener más de 10 caracteres</span>
              <span *ngIf="form.get('id')?.errors?.['idExists']" style="color: red;">ID ya existe</span>
            </div>
          </div>
        
          <div class="form-data__row-col">
            <label for="name">Nombre:</label>
            <input [ngClass]="{'error': form.get('name')?.touched &&  form.get('name')?.errors}"
            id="name" formControlName="name">
            <div class="form-data__row-col-errors" *ngIf="form.get('name')?.invalid && form.get('name')?.touched">
              <span *ngIf="form.get('name')?.errors?.['required']" style="color: red;">Nombre no válido</span>
              <span *ngIf="form.get('name')?.errors?.['minlength']" style="color: red;">Nombre debe tener al menos 5 caracteres</span>
              <span *ngIf="form.get('name')?.errors?.['maxlength']" style="color: red;">Nombre no puede tener más de 100 caracteres</span>
            </div>
          </div>
    </div>
    
    <div class="form-data__row">
        <div class="form-data__row-col">
            <label for="description">Descripción:</label>
            <input [ngClass]="{'error':form.get('description')?.touched &&  form.get('description')?.errors}"
            id="description" formControlName="description">
            <div class="form-data__row-col-errors" *ngIf="form.get('description')?.invalid && form.get('description')?.touched">
              <span *ngIf="form.get('description')?.errors?.['required']" style="color: red;">Descripción no válida</span>
              <span *ngIf="form.get('description')?.errors?.['minlength']" style="color: red;">Descripción debe tener al menos 10 caracteres</span>
              <span *ngIf="form.get('description')?.errors?.['maxlength']" style="color: red;">Descripción no puede tener más de 200 caracteres</span>
            </div>
          </div>
        
          <div class="form-data__row-col">
            <label for="logo">Logo:</label>
            <input [ngClass]="{'error':form.get('logo')?.touched &&  form.get('logo')?.errors}"
            id="logo" formControlName="logo" type="text">
            <div class="form-data__row-col-errors" *ngIf="form.get('logo')?.invalid && form.get('logo')?.touched">
              <span *ngIf="form.get('logo')?.errors?.['required']" style="color: red;">Logo no válido</span>
            </div>
          </div>
    </div>
   
    <div class="form-data__row">
        <div class="form-data__row-col">
            <label for="dateRelease">Fecha de Liberación:</label>
            <input [ngClass]="{'error':form.get('dateRelease')?.touched && form.get('dateRelease')?.errors}"
             id="dateRelease" [min]="minimumDate" formControlName="dateRelease" type="date">
            <div class="form-data__row-col-errors" *ngIf="form.get('dateRelease')?.invalid && form.get('dateRelease')?.touched">
              <span *ngIf="form.get('dateRelease')?.errors?.['required']" style="color: red;">Fecha de liberación no válida</span>
              <span *ngIf="form.get('dateRelease')?.errors?.['invalidDateRelease']" style="color: red;">Fecha debe ser igual o mayor a la fecha actual</span>
            </div>
          </div>
        
          <div class="form-data__row-col">
            <label for="dateRevision">Fecha de Revisión:</label>
            <input [ngClass]="{'error':form.get('dateRevision')?.touched && form.get('dateRevision')?.errors}" 
            id="dateRevision" formControlName="dateRevision" type="date">
            <div class="form-data__row-col-errors" *ngIf="form.get('dateRevision')?.invalid && form.get('dateRevision')?.touched">
              <span *ngIf="form.get('dateRevision')?.errors?.['required']" style="color: red;">Fecha de revisión no válida</span>
            </div>
          </div>
    </div>
  
    
  <div class="form-data__btn-actions">
      <button type="button" class="button button--secondary" (click)="resetForm()">Reiniciar</button>
      <button class="button button--primary" type="submit" [disabled]="form.invalid || loadingButton">Enviar</button>
  </div>
   

  </form>