@import "../../../../global/breakpoints";
@import "../../../../global/mixins";

.cont-formulario{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    .head-form{
        text-align: center;
        padding: 3%;
        border-bottom: 3px solid #cfcfcf;
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 2%;
    }
    .icon-return{
        padding: 1%;
        cursor: pointer;
        position: absolute;
    }
}

@include breakpoint('max-medium') {
    .cont-formulario {
        width: 90%;
    }
}

@include breakpoint('max-small') {
    .cont-formulario {
        width: 100%;
    }
}
