<div class="container">

    <div [ngClass]="{'hidden': loading}" class="header-table">
        <div class="cont-search">
            <!-- <input (keyup.enter)='buscarPorTexto($event)' placeholder="Buscar..." type="text"> -->
            <input #searchInput placeholder="Buscar..." type="text">
        </div>
        <div (click)="crearProducto()">
            <button class="button button--primary">Agregar</button>
        </div>
    </div>

    <div  *ngIf="!loading" class="cont-table">
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Logo</th>
                        <th>Nombre del producto</th>
                        <th>Descripcion
                            <app-tootlip-component tooltipText="Descripcion del Producto">
                                <i class="fa fa-info-circle"></i>
                            </app-tootlip-component>
                        </th>
                        <th>Fecha de liberación 
                            <app-tootlip-component tooltipText="Fecha de Liberación del Producto">
                                <i class="fa fa-info-circle"></i>
                            </app-tootlip-component>
                        </th>
                        <th>Fecha de reestructuración 
                            <app-tootlip-component tooltipText="Fecha de Reestructuración del Producto">
                                <i class="fa fa-info-circle"></i>
                            </app-tootlip-component>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of listProducts; let i = index" (dblclick)="editarProducto(item)">
                        <td>
                            <app-image-load [idImg]="item.id" [src]="item.logo!"></app-image-load>
                            <!-- <img [src]="item.logo" alt=""> -->
                        </td>
                        <td>{{item.name}}</td>
                        <td>{{item.description}}</td>
                        <td>{{item.date_release}}</td>
                        <td>{{item.date_revision}}</td>
                        <td (click)="toggleDropdown(i)">
                            <div class="dropdown">
                                <span class="dropdown-toggle">
                                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                </span>
                                <div id="drop_{{i}}" class="dropdown-menu">
                                    <span (click)="editarProducto(item)" class="dropdown-item">Editar</span>
                                    <span (click)="eliminarProducto(item)" class="dropdown-item">Eliminar</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="cont-select">
            <div>
                <span>{{this.quantityResult}} resultados</span>
            </div>
            <div>
                <select (change)="showTable($event)" class="select-form" name="selectcant" id="selectcant">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                </select>
            </div>
        </div>
    </div>
    
    <div *ngIf="loading">
        <app-skeleton-listar></app-skeleton-listar>
    </div>
    
</div>
<!-- eliminar-producto-modal.component.html -->
<app-modal-confirm [textModal]="nameProductDelete" (emitValue)="selectOptionDelete($event)"></app-modal-confirm>